body{
    font-family: Arial;
    margin-left: 30px;
    background-color: #000000;
}

.card{
    width: 300px;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.card img{
    width: 100%;
    border-radius: 8px;
}
